Flask==3.1.2
pymssql==2.2.11
flask-cors==6.0.2
Flask-JWT-Extended==4.7.1
Flask-Mail==0.10.0
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.46
alembic==1.18.4
python-dotenv==1.2.1
passlib==1.7.4
PyJWT==2.11.0
flasgger==0.9.7.1
pyodbc==5.3.0
gunicorn==21.2.0
